
html{
    font-family:'Courier New', Courier, monospace;
}

html, body {
    height: 100%; 
    width: 100%; 
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: #ddd; 
    background: radial-gradient(grey, rgb(48, 46, 46), black, rgb(87, 86, 86));
    background-repeat: no-repeat; 
    background-size: cover;
}

.colorful-background{
    background-color: #ddd; 
    background: radial-gradient(purple, rgb(58, 10, 58), rgb(106, 38, 161), rgb(171, 52, 240));
    background-repeat: no-repeat; 
    background-size: cover;
}

.image-background{
    color: black;
    background-image: url(exchange-currency.jpg);
    background-color: azure; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.change-background{
    cursor: pointer;
    padding: 10px;
    position:absolute;
    top: 5em;
    right: 0.85em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#nav{
    background: radial-gradient(rgb(48, 46, 46), rgb(87, 86, 86), black, grey);
    border-radius: 5px;
}

#nav.transparent{
    background: transparent;
}

.title {
    font-weight: bold;
    font-size: 4rem;
}

.sub-title{
    text-decoration: underline;
    padding: 5px;
}

.content{
    display: table;
    padding: 2rem 4rem;
}

.select{
    padding: 10px 10px;
    border-radius: 10px;
}

.input{
    padding: 10px 10px;
    border-radius: 10px;
}

.output{
    color: black;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    width: 178px;
    border: 1px solid black;
    border-style:double;
}