
html{
    font-family:'Courier New', Courier, monospace;
}

html, body {
    height: 100%; 
    width: 100%; 
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: #ddd; 
    background: radial-gradient(grey, rgb(48, 46, 46), black, rgb(87, 86, 86));
    background-repeat: no-repeat; 
    background-size: cover;
}

.everything {
    position: relative;
}

.background-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(46, 182, 125), rgb(21, 139, 100), rgb(55, 118, 212)); /* Adjust the background color as desired */
    opacity: 0.8; /* Adjust the opacity as desired */
    z-index: -1; /* Place the box behind other content */
}


.colorful-background{
    background-color: #ddd; 
    background: radial-gradient(purple, rgb(58, 10, 58), rgb(106, 38, 161), rgb(171, 52, 240));
    background-repeat: no-repeat; 
    background-size: cover;
}

.image-background{
    background-image: url(exchange-currency.jpg);
    background-color: azure; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#nav{
    background: radial-gradient(rgb(48, 46, 46), rgb(87, 86, 86), black, grey);
    border-radius: 5px;
    margin: 5px;
}

#nav button{
    background-size: contain;
    background: fixed;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    padding: 15px;
    position:absolute;
    top: 0.7em;
    right: 0.85em;
}

#nav button:hover{
    font-style: italic;
}

#nav h1{
    top: 0;
    left: 0;
}

#nav.transparent{
    background: transparent;
}

.title {
    font-weight: bold;
    font-size: 4rem;
}

.sub-title{
    text-decoration: underline;
    padding: 5px;
}

.content{
    display: table;
    padding: 2rem 4rem;
}

.select{
    padding: 10px 10px;
    border-radius: 10px;
}

.input{
    padding: 10px 10px;
    border-radius: 10px;
}

.output{
    color: black;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    width: 178px;
    border: 1px solid black;
    border-style:double;
}